@import "reset.css";
@import "fonts.css";

* {
    box-sizing: border-box;
}

:root {
    --primary: #8800ec;
    --border: rgba(0, 0, 0, .2);
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
}

.logo {
    height: 5rem;
    width: auto;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-block-end: 1rem;
}

h1+p {
    padding-block-end: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-block-end: .5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-block-end: .5rem;
}

main {
    max-width: 50rem;
    padding-inline: 4rem;
    margin-inline: auto;
    margin-block-start: 2rem;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    margin-block-start: .8rem;
    padding-bottom: 5rem;

    li {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 3;
        align-items: center;
        border: 1px solid var(--border);
        padding: 1.5rem 2rem;
        border-radius: 1rem;

    }
}

a {
    text-decoration: none;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    font-weight: 500;

    &:any-link {
        color: var(--primary);
    }

    svg {
        fill: var(--primary);
    }
}

#back {
    padding: 0;

    svg {
        rotate: 180deg;
    }

    &+* {
        margin-block-start: .8rem;
    }
}

svg {
    flex-shrink: 0;
}

#player {
    p+p {
        margin-top: .5rem;
    }
}

.detail {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &+& {
        margin-top: 0.5rem;
    }

    &:last-of-type {
        padding-bottom: 2rem;
    }
}

#detail-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 2rem
}

@media screen and (max-width: 600px) {
    main {
        padding-inline: 1.5rem;
    }

    ul {
        gap: 0;

        li {
            border: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 0;

            h2 {
                margin-block-start: 2rem;
                padding-block-end: 1rem;
            }

            a {
                margin-block-start: 1rem;
            }
        }

        li+li {
            border-block-start: 1px solid var(--border);
        }
    }

    #detail-header {
        flex-direction: column;
        padding-block-end: 3rem;
    }
}
