@import "reset.css";
@import "fonts.css";

* {
    box-sizing: border-box;
}

:root {
    --primary: #8800ec;
    --border: rgba(0, 0, 0, .2);
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-block-end: 1rem;
}

h1+p {
    padding-block-end: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-block-end: .5rem;
}

main {
    max-width: 50rem;
    padding-inline: 4rem;
    margin-inline: auto;
    margin-block-start: 2rem;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    padding-bottom: 5rem;

    li {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 3;
        align-items: center;
        border: 1px solid var(--border);
        padding: 1.5rem 2rem;
        border-radius: 1rem;

        a {
            text-decoration: none;
            padding: .5rem;
            display: flex;
            align-items: center;
            gap: .8rem;
            font-weight: 500;

            &:any-link {
                color: var(--primary);
            }

            svg {
                fill: var(--primary);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        padding-inline: 1.5rem;
    }

    ul {
        gap: 0;

        li {
            border: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 0;

            h2 {
                margin-block-start: 2rem;
                padding-block-end: 1rem;
            }

            a {
                margin-block-start: 1rem;
            }
        }

        li+li {
            border-block-start: 1px solid var(--border);
        }
    }

}
